@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- ----- ----- Base ----- ----- ----- */
body{
    /* no scroll */
    @apply h-[100vh] overflow-hidden;
}

#app{
    /* ocupa todo el alto de la pagina */
    @apply h-[100vh] overflow-y-auto sm:overflow-hidden;
}

#app .main-container {
    /* ocupa todo el espacio disponible del flex de arriba, cosa para que el footer quede al fondo */
    /* meto el scroll aca, para que siempre se vea el header y el footer desde sm */
    @apply h-[100vh] flex flex-col overflow-hidden sm:overflow-y-auto;

    main{
        @apply h-full;
    }
}

nav {
  @apply bg-primary px-5 py-3 shadow-lg;
}

nav ul {
  @apply list-none flex gap-5 m-0 p-0 justify-center items-center;
}

nav ul li a {
  @apply text-gray-300 no-underline font-semibold px-3 py-2 rounded transition-colors duration-300 font-sans cursor-pointer;
}

nav ul li a:hover,
nav ul li a.router-link-exact-active {
  @apply text-white;
}

footer{
    @apply bg-primary py-5 text-white text-center;
}

/* Home */

.background {
    background-image: url('../assets/img/debbies_blue_umbrella.jpg');
    @apply bg-gray-100 h-[80vh] bg-cover bg-center bg-fixed;
    position: relative;
    overflow: hidden;
}

.btn-home {
    @apply 
        absolute top-3/4 left-1/2 transform -translate-x-1/2 -translate-y-1/2
        px-6 py-3 bg-teal-800 text-white rounded-sm shadow-lg
        hover:bg-teal-700 transition duration-300 z-10;
}

.rain {
    @apply absolute top-0 left-0 w-full h-full pointer-events-none;
    background-image: url('../assets/img/lluvia.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.25;
    animation: lluvia 1s linear infinite;
}

@keyframes lluvia {
    100% { background-position: center top; } /* no se que hice mal, pero se veia al reves xD*/
    0% { background-position: center bottom; }
}


/* Post */

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {    
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
}
.loader::before {
    border-color: #1277ba #003558;
    animation: inherit; 
    animation-duration: .5s;
    animation-direction: reverse;
}
.loader::after {
    margin: 8px;
}
@keyframes l16 { 
    100%{transform: rotate(1turn)}
}

.form-textarea{
    @apply 
        flex-1 bg-gray-100 rounded-xl px-4 py-2 text-sm 
        focus:outline-none focus:ring-2 focus:ring-blue-500 focus:bg-white
        resize-none;
        field-sizing: content; /* quiza falle en firefox */
}